<link rel="stylesheet" href="/main.css" />

<%- include("partials/header.ejs") %>

  <br />
  <a href="/add">Add List</a>
  <ul>
    <% data.map(item=> { %>

      <li>
        <%= item.title %>
          <a href="/delete/<%= item.id %>">Delete</a>
          <a href="/edit/<%= item.id %>">Edit</a>
          <a href="/details/<%= item.id %>">View</a>
      </li>

      <% }) %>
  </ul>
  <%- include("partials/footer.ejs") %>